.navbar {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;

    a:-webkit-any-link {
        text-decoration: none;
    }
}

.navbar__logo {
    width: 9rem;
    margin-left: 0.5rem;
    background-color: #f5c518;
    border-radius: 4px;

    h1 {
        text-align: center;
        color: black;
        font-weight: 800;
        font-size: 1.5rem;
    }
}